# === Java / Maven ===
target/
*.class
*.log
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# === Eclipse / Anypoint Studio ===
.metadata/
*.tmp
*.bak
*.swp
.recommenders/
# Opcional (descomenta si quieres evitar conflictos de IDE):
# .project
# .classpath
# .settings/

# === Mule / Anypoint specific ===
mule-deploy-temp/
target/

# === OS files ===
.DS_Store
Thumbs.db

# === Secrets / Keystores ===
src/main/resources/*.jks
src/main/resources/*.keystore
src/main/resources/*.p12
src/main/resources/*-keystore*
**/properties/dev-config.yaml
# no subir propiedades con secretos:
# src/main/resources/*.properties
